<nav class="navbar  fixed-bottom ">
    <div class="container-fluid">
        <div class="navbar-text nav-link footer-text">
            <div class="cmsb11-bg-secondary cmsb11-hidden cmsb11-md:block">
                <div
                    class="cmsb11-cms-container cmsb11-text-black cmsb11-text-center cmsb11-text-sm  cmsb11-flex cmsb11-items-center">
                    <marquee class="cmsb11-block">
                        <strong>Copyright © Pardhi Dairy Milk Pvt Ltd || Powered By Jitu Web Solution</strong>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
</nav>