<nav class="navbar bg-light fixed-bottom text-center">
    <div class="container-fluid">
        <span class="navbar-text text-center">
            Dairy Milk Pvt Ltd
        </span>
    </div>
</nav>