<br><br>
<nav class="navbar nav-bg fixed-bottom food-nav">
    <div class="container-fluid">
        <div class="navbar-text nav-link footer-text">
            <div class="cmsb11-bg-secondary cmsb11-hidden cmsb11-md:block">
                <div
                    class="cmsb11-cms-container cmsb11-text-black cmsb11-text-center cmsb11-text-sm  cmsb11-flex cmsb11-items-center">
                    <marquee class="cmsb11-block">
                        <strong>Copyright © Dairy Milk Pvt Ltd || Powered By Jitu Web Solution</strong>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar  fixed-bottom nav-bg" id="foot-nav">

    <div class="navbar-text nav-link text-center footer-text">
        <small>Copyright © Dairy Milk Pvt Ltd </small>
    </div>

</nav>