<%- include('../layout/partials/message.ejs') %>

    <div class="dashboardContainer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text">Add Bakery Products</h5>
                            <h6 class="card-text"></h6>
                            <a href="/bakery/add-bakery" class="btn-sm btn-primary">Add</a>
                            <a href="" class="btn-sm btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text">Add Milk Products</h5>
                            <h6 class="card-text"></h6>
                            <a href="/milk/add-milk" class="btn-sm btn-primary">Add</a>
                            <a href="" class="btn-sm btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text">Add Icecreame</h5>
                            <h6 class="card-text"></h6>
                            <a href="/icecreame/add-icecreame" class="btn-sm btn-primary">Add</a>
                            <a href="" class="btn-sm btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text">Add Sweets</h5>
                            <h6 class="card-text"></h6>
                            <a href="/sweet/add-sweet" class="btn-sm btn-primary">Add</a>
                            <a href="" class="btn-sm btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-3 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text">Add Sweets</h5>
                            <h6 class="card-text"></h6>
                            <a href="/sweet/add-sweet" class="btn-sm btn-primary">Add</a>
                            <a href="" class="btn-sm btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text">User Registration</h5>
                            <h6 class="card-text"></h6>
                            <!-- <a href="" class="btn-sm btn-primary">Add</a> -->
                            <a href="" class="btn-sm btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text">User</h5>
                            <h6 class="card-text"></h6>
                            <a href="" class="btn-sm btn-primary">Add</a>
                            <a href="" class="btn-sm btn-primary">View</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>