<div class="loginContainer " id="login-image-2">
    <div class="container ">
        <div class="row ">

            <div class="col-md-4 mt-4 login-left ">
                <div class="container">
                    <h4 class="card-text text-center mx-auto  login-text">USER ROLE</h4>
                </div>
                <form action="">

                    <div class="container mt-4">
                        <div class="row">
                            <div class="form-group">
                                <div class="mb-3">

                                    <input type="text" class="form-control rounded-pill" id="formGroupExampleInput"
                                        placeholder="Enter User Role" name="role_name"
                                        value="<%= typeof role_name != 'undefined' ? role_name : '' %>" required>
                                </div>

                            </div>

                        </div>
                        <div class="col-12 mx-auto text-center  ">
                            <button class="btn btn-primary rounded-pill" type="submit">Login</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>