<!-- swiper image end -->
<div class="home-bg homeContainer">
  <div class="container bg-text mt-5" style="position: absolute">
    <div class="row">
      <h3 class="card-text text-heading">The Taste of Pure Milk</h3>
      <p class="card-text">
        " Milk, nature's elixir, has been cherished for generations as a symbol
        of nourishment and comfort. At the heart of every Dairy Milk creation
        lies the essence of pure, creamy milk. We believe in the magic of milk –
        its ability to transform ordinary moments into extraordinary ones. Our
        commitment to using only the finest milk ensures that each bite is a
        celebration of milk's rich heritage and its unique ability to bring joy
        "
      </p>
    </div>
  </div>

  <div class="image-bg">
    <img src="/image/bg-1.jpg" width="100%" height="100%" alt="" />
  </div>
</div>

<div id="home-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-4">
        <div class="card">
          <div class="card-body">
            <img src="/image/bg-1.jpg" class="image-home card-img" />
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4 mb-4">
        <div class="card card-image">
          <div class="card-body">
            <h3 class="card-text text-heading">The Taste of Pure Milk</h3>
            <p class="card-text">
              " Milk, nature's elixir, has been cherished for generations as a
              symbol of nourishment and comfort. At the heart of every Dairy
              Milk creation lies the essence of pure, creamy milk. We believe in
              the magic of milk – its ability to transform ordinary moments into
              extraordinary ones. Our commitment to using only the finest milk
              ensures that each bite is a celebration of milk's rich heritage
              and its unique ability to bring joy "
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 container mb-4">
  <div class="row">
    <div class="col-md-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/image/product/combine-mithai.jpg" alt="Avatar" style="width: 300px; height: 300px" />
          </div>
          <div class="flip-card-back">
            <div class="container mt-4">
              <form action="" method="post">
                <div class="mt-4">
                  <h1>John Doe</h1>
                  <p>Architect & Engineer</p>
                  <p>We love that guy</p>
                  <h6>
                    <span class="badge bg-success">New <ion-icon name="star-outline"></ion-icon></span>
                  </h6>
                </div>
                <div class="flex">
                  <a href="" class="btn-sm btn-secondary">BUY</a>
                  <a href="" class="btn-sm btn-secondary">Add Cart</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/image/product/badam-peda.jpg" alt="Avatar" style="width: 300px; height: 300px" />
          </div>
          <div class="flip-card-back">
            <div class="container mt-4">
              <form action="" method="post">
                <div class="mt-4">
                  <h1>John Doe</h1>
                  <p>Architect & Engineer</p>
                  <p>We love that guy</p>
                  <h6>
                    <span class="badge bg-success">New <ion-icon name="star-outline"></ion-icon></span>
                  </h6>
                </div>
                <div class="flex">
                  <a href="" class="btn-sm btn-secondary">BUY</a>
                  <a href="" class="btn-sm btn-secondary">Add Cart</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/image/product/barfi.jpg" alt="Avatar" style="width: 300px; height: 300px" />
          </div>
          <div class="flip-card-back">
            <div class="container mt-4">
              <form action="" method="post">
                <div class="mt-4">
                  <h1>John Doe</h1>
                  <p>Architect & Engineer</p>
                  <p>We love that guy</p>
                  <h6>
                    <span class="badge bg-success">New <ion-icon name="star-outline"></ion-icon></span>
                  </h6>
                </div>
                <div class="flex">
                  <a href="" class="btn-sm btn-secondary">BUY</a>
                  <a href="" class="btn-sm btn-secondary">Add Cart</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4 ">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/image/product/cake-2.jpg" alt="Avatar" style="width: 300px; height: 300px" />
          </div>
          <div class="flip-card-back">
            <div class="container mt-4">
              <form action="" method="post">
                <div class="mt-4">
                  <h1>John Doe</h1>
                  <p>Architect & Engineer</p>
                  <p>We love that guy</p>
                  <h6>
                    <span class="badge bg-success">New <ion-icon name="star-outline"></ion-icon></span>
                  </h6>
                </div>
                <div class="flex">
                  <a href="" class="btn-sm btn-secondary">BUY</a>
                  <a href="" class="btn-sm btn-secondary">Add Cart</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/image/product/cake-4.jpg" alt="Avatar" style="width: 300px; height: 300px" />
          </div>
          <div class="flip-card-back">
            <div class="container mt-4">
              <form action="" method="post">
                <div class="mt-4">
                  <h1>John Doe</h1>
                  <p>Architect & Engineer</p>
                  <p>We love that guy</p>
                  <h6>
                    <span class="badge bg-success">New <ion-icon name="star-outline"></ion-icon></span>
                  </h6>
                </div>
                <div class="flex">
                  <a href="" class="btn-sm btn-secondary">BUY</a>
                  <a href="" class="btn-sm btn-secondary">Add Cart</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/image/product/cake-3.jpg" alt="Avatar" style="width: 300px; height: 300px" />
          </div>
          <div class="flip-card-back">
            <div class="container mt-4">
              <form action="" method="post">
                <div class="mt-4">
                  <h1>John Doe</h1>
                  <p>Architect & Engineer</p>
                  <p>We love that guy</p>
                  <h6>
                    <span class="badge bg-success">New <ion-icon name="star-outline"></ion-icon></span>
                  </h6>
                </div>
                <div class="flex">
                  <a href="" class="btn-sm btn-secondary">BUY</a>
                  <a href="" class="btn-sm btn-secondary">Add Cart</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br /><br /><br />