<!-- swiper image start -->
<!-- <div class="container homeContainer">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="\image\swiper-image\product2.jpg" class="d-block w-100 carousel-img" width="100%" height="100%"
          alt="..." />
      </div>
      <div class="carousel-item">
        <img src="\image\swiper-image\product4.jpg" class="d-block w-100 carousel-img" width="100%" height="100%"
          alt="..." />
      </div>
      <div class="carousel-item">
        <img src="\image\swiper-image\product1.jpg" class="d-block w-100 carousel-img" width="100%" height="100%"
          alt="..." />
      </div>
      <div class="carousel-item">
        <img src="\image\swiper-image\product5.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->
<!-- swiper image end -->
<div class="home-bg homeContainer">

  <div class="container bg-text mt-5" style="position: absolute;">
    <div class="row">
      <h3 class="card-text  text-heading">The Taste of Pure Milk</h3>
      <p class="card-text">" Milk, nature's elixir, has been cherished for generations as a symbol of nourishment and
        comfort. At the heart of every Dairy Milk creation lies the essence of pure, creamy milk. We believe in the
        magic of milk – its ability to transform ordinary moments into extraordinary ones. Our commitment to using only
        the finest milk ensures that each bite is a celebration of milk's rich heritage and its unique ability to bring
        joy "</p>
    </div>
  </div>

  <div class="image-bg">
    <img src="/image/bg-1.jpg" width="100%" height="100%" alt="">
  </div>
</div>

<div id="home-bg">

  <div class="container ">
    <div class="row">
      <div class="col-md-6 mt-4">
        <div class="card">
          <div class="card-body">
            <img src="/image/bg-1.jpg" class="image-home card-img">

          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4 mb-4">
        <div class="card card-image">
          <div class="card-body">
            <h3 class="card-text  text-heading">The Taste of Pure Milk</h3>
            <p class="card-text">" Milk, nature's elixir, has been cherished for generations as a symbol of nourishment
              and
              comfort. At the heart of every Dairy Milk creation lies the essence of pure, creamy milk. We believe in
              the
              magic of milk – its ability to transform ordinary moments into extraordinary ones. Our commitment to using
              only
              the finest milk ensures that each bite is a celebration of milk's rich heritage and its unique ability to
              bring
              joy "</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>