<div class="productContainerImage">
  <div class="productContainer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mt-4 add-left">
          <div class="container">
            <h4 class="card-text text-center mx-auto login-text">
              Mithai Products
            </h4>
          </div>
          <form action="" method="post">
            <div class="container mt-4">
              <div class="row">
                <div class="form-group">
                  <div class="mb-3">
                    <input type="text" class="form-control rounded-pill" id="name" placeholder="Icecreame Name"
                      name="name" required />
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control rounded-pill" id="price" placeholder="Price " name="price"
                      required />
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control rounded-pill" id="introduction" placeholder="Inroduction "
                      name="introduction" required />
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control rounded-pill" id="rating" placeholder="Rating " name="rating"
                      required />
                  </div>
                  <div class="mb-3">
                    <input type="file" class="form-control rounded-pill" id="product_image" placeholder="Image "
                      name="product_image" accept="image/png, image/gif, image/jpeg" required />
                  </div>
                </div>
              </div>
              <div class="col-12 mx-auto text-center">
                <button class="btn btn-primary rounded-pill" type="submit">
                  Login
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>