<div class="addToCartContainer">
    <div class="container">
        <div class="row">
            <div class="card add-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/image/product/badam-peda.jpg" alt="" height="80%" class="card-img"></img>
                        </div>
                        <div class="col-md-6 ">
                            <div class="flex justify-content-end">
                                <a href="" class="mx-2 btn-sm position-relative"> <i class="fa-solid fa-cart-shopping ">
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            4+
                                        </span></i></a>
                                <a href="" class="mx-2 btn-sm position-relative"> <i class="fa-solid fa-share"><span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            4+
                                        </span></i></a>
                                <a href="" class="mx-2 btn-sm position-relative"> <i class="fa-regular fa-heart"><span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            4+
                                        </span></i></a>
                            </div>
                            <div class="add-card-info">
                                <h4 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
                                    sint.</h4>

                                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda
                                    cum excepturi consequatur saepe corporis porro odit aspernatur impedit repellat ex.
                                </p>


                                <div class="btn-group mt-4" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-outline-secondary">-</button>
                                    <button type="button" class="btn btn-outline-secondary">1</button>
                                    <button type="button" class="btn btn-outline-secondary">+</button>

                                    <h4 class="rate mx-4">250 Rs</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 mb-4">
    <div class="container">

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Online Order </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-sliders"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  text-primary" aria-current="page" href="#bakery">Bakery
                                Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="#milk">Milk Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="#icecream">Icecreame</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="#sweet">Sweets</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div class="flex justify-content-end">
                            <a href="" class="mx-2 btn-sm position-relative"> <i class="fa-solid fa-cart-shopping ">
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        4+
                                    </span></i></a>
                            <a href="" class="mx-2 btn-sm position-relative"> <i class="fa-solid fa-share"><span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        4+
                                    </span></i></a>
                            <a href="" class="mx-2 btn-sm position-relative"> <i class="fa-regular fa-heart"><span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        4+
                                    </span></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </nav>

    </div>
</div>


<div class="container">
    <div class="card">
        <div class="row mt-4 mx-4">
            <div class="col-md-4">
                <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link active text-primary" aria-current="page" href="#bakery">Bakery
                                Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="#milk">Milk Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="#icecream">Icecreame</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="#sweet">Sweets</a>
                        </li>

                    </ul>
                </nav>
            </div>

            <div class="col-md-8">
                <div style="height: 400px; overflow-y: scroll;">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                        class="scrollspy-example-2" tabindex="0">
                        <div id="bakery">
                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <img src="/image/add-product-1.jpg" alt="" class="card-img">
                                </div>
                                <div class="col-md-5">
                                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolores,
                                        dicta?
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <img src="/image/product/barfi.jpg" alt="" class="card-img">
                                </div>
                                <div class="col-md-5">
                                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolores,
                                        dicta?
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <img src="/image/add-product-3.jpg" alt="" class="card-img">
                                </div>
                                <div class="col-md-5">
                                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolores,
                                        dicta?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="milk">
                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <img src="/image/add-product-4.jpg" alt="" class="card-img">
                                </div>
                                <div class="col-md-5">

                                    <p class="card-text">jitendra</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolores,
                                        dicta?
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <img src="/image/add-product-5.jpg" alt="" class="card-img">
                                </div>
                                <div class="col-md-5">
                                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolores,
                                        dicta?
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <img src="/image/product1.jpg" alt="" class="card-img">
                                </div>
                                <div class="col-md-5">
                                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolores,
                                        dicta?
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <img src="/image/product2.jpg" alt="" class="card-img">
                                </div>
                                <div class="col-md-5">
                                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolores,
                                        dicta?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="icecream">
                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <img src="/image/product3.jpg" alt="" class="card-img">
                                </div>
                                <div class="col-md-5">

                                    <p class="card-text">jitendra</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolores,
                                        dicta?
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <img src="/image/product4.jpg" alt="" class="card-img">
                                </div>
                                <div class="col-md-5">
                                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolores,
                                        dicta?
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <img src="/image/product5.jpg" alt="" class="card-img">
                                </div>
                                <div class="col-md-5">
                                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolores,
                                        dicta?
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <img src="/image/add-product-1.jpg" alt="" class="card-img">
                                </div>
                                <div class="col-md-5">
                                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolores,
                                        dicta?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>


    <!-- Add Bootstrap 5 JavaScript file here -->